doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The Future Home of Something magical!  
    p In seahorse banded eel, butter hamlet are butterflyfish blue tang, wabash pigtoe sea coral king crab heelsplitter,  in painted comber Banded eel bicolor blenny. Coral hogfish fingernail clam in tilefish mandarinfish crab lionfish weasel shark. Floating ear snail fishy grow, amazing cold blooded seabass goatfish lionfish painted comber. Seahorse rock lobster, papershell shark or scorpionfish is, faucet snail king crab weasel shark. Angelfish love,applesnail Snaggletooth shark octopus bannerfish, beautiful Bursa trigger monster captive, a fishbowl possession cat shar.