doctype html
html(lang="en")
  
  body
    header
      h1 Table of Names  
    section#content
    //**create a table with two boxes name and last name. 
    //https://www.nodejsera.com/library/pug/pug-tables.html 
    table(style='width:100%', border='1')
        tr 
            th First Name
            th Last Name
        tr 
            td Kayla
            td Alvarado
        tr 
            td Jose
            td Feliciano
        tr 
            td Mandi
            td ortiz
        tr 
            td Malcom
            td Blount
        tr 
            td Alexandria
            td Ocasio Cortez
        tr 
            td Omaira
            td Alvarado 
        tr 
            td Jamely
            td Pagani
            
    footer 
      p This is a table of Names of people I know! 